NODE_ENV=
NODE_PATH=

MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

DIRECTUS_AUTH_PUBLICKEY=
DIRECTUS_AUTH_SECRETKEY=
DIRECTUS_DATABASE_NAME=
DIRECTUS_DATABASE_USERNAME=
DIRECTUS_DATABASE_PASSWORD=

DIRECTUS_HOST=
DIRECTUS_URL=
DIRECTUS_PROJECT=
DIRECTUS_USER_EMAIL=
DIRECTUS_USER_PASSWORD=

PEGABOT_API=

EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SERVICE=
EMAIL_FROM=

REDIS_URL='redis://pegabot-admin-redis'
RATE_LIMIT_MAXIMUM=

PEGABOT_ADMIN_CACHE='/tmp/pegabot-admin/cache'
